# dependencies
node_modules/
dms-backend/node_modules/
dms-frontend/node_modules/

# local env files
.env
dms-backend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# uploads/downloads
dms-backend/uploads/

# production / build
dms-frontend/build/
dms-frontend/dist/
dms-backend/dist/

# misc
.DS_Store
*.log
